<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Vanilla>
    <CriticalRadiationThreshold>3</CriticalRadiationThreshold>
    <MinimumOutpostAmount>3</MinimumOutpostAmount>
    <StartingRadiation>0</StartingRadiation>
    <RadiationStep>200</RadiationStep>
    <AnimationSpeed>3</AnimationSpeed>
    <RadiationDamageDelay>10</RadiationDamageDelay>
    <RadiationDamageAmount>1</RadiationDamageAmount>
    <MaxRadiation>-1</MaxRadiation>
    <BorderAnimationSpeed>16.66</BorderAnimationSpeed>
    <RadiationAreaColor>0,16,32,160</RadiationAreaColor>
    <RadiationBorderTint>0,127,255,200</RadiationBorderTint>
  </Vanilla>
  <bebe>123</bebe>
  <huhu>0</huhu>
</Settings>